<div class="table">
    <table class="tableClass">
        <caption >Employee Table</caption>
        <thead>
            <tr>
                <th appHighlight>employeeId</th>
                <th appHighlight>employeeName</th>
                <th appHighlight>employeeAge</th>
            </tr>
        </thead>
        <tbody *ngFor="let emp of employeeDatas;index as i" >
            <tr (dblclick)="emp.visible=!emp.visible">
                <td appHighlight >
                    <div class="employeeId" [hidden]="emp.visible">{{emp.employeeId}}</div>
                    <div class="employeeIdInput" [hidden]="!emp.visible" >
                        <input type="text"  value="{{emp.employeeId}}" #input>
                    </div>
                </td>
                <td appHighlight>
                    <div class="employeeName" [hidden]="emp.visible">{{emp.employeeName}}</div>
                    <div class="employeeNameInput" [hidden]="!emp.visible">
                        <input type="text" value="{{emp.employeeName}}"#input2>
                    </div>
                </td>
                <td appHighlight>
                    <div class="employeeAge" [hidden]="emp.visible">{{emp.employeeAge}}</div>
                    <div class="employeeAgeInput" [hidden]="!emp.visible">
                        <input type="text" value="{{emp.employeeAge}}" #input3>
                        <button (click)="changeEmp(input.value,input2.value,input3.value,i)">Save</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="instructions">
    Click Datas to Edit
</div>


<style>
    table,th,td{
        border:1px solid;
        /* border-collapse: collapse;  */
    }
</style>